<html>
<head>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/bootstrap-rtl.min.css">
<title><%- title %></title>
</head>
<body>
<%- body %>
<script src="/js/jquery.min.js"></script>
<script src="/js/home.js"></script>
</body>
</html>
