<div class="container">
<div class="row">
<div class="col col-lg-12">
     <form id="search_form">
       <div class="row">
         <div class="col">
           <input type="text" class="form-control" id="search_form_input" placeholder="First name">
           <div id="search_result" class="hidden_search_form">
                <div class="search_result_section">
                    <div>
                        <div class="search_result_header">محصولات</div>
                        <div>
                           <ul id="search_result_items"></ul>
                        </div>
                    </div>
                </div>
           </div>
         </div>
       </div>
     </form>
</div>
</div>
</div>
<input id="base_url" type="hidden" value="<%- base_url -%>" />
