<div class="container">
<div class="row">
<div class="col col-lg-12">
     <form id="search_form">
       <div class="row">
         <div class="col">
           <input type="text" class="form-control" id="search_form_input" placeholder="First name">
           <div id="search_result" class="hidden_search_form">
                <div class="search_result_section">
                    <div>
                       <div class="search_result_header">محصولات در دسته بندی</div>
                       <div>
                            <ul>
                              <li>aaaaa</li>
                              <li>bbbbb</li>
                              <li>ccccc</li>
                              <li>dddddd</li>
                            </ul>
                       </div>
                    </div>
                </div>
                <div class="search_result_section">
                    <div>
                        <div class="search_result_header">محصولات</div>
                        <div>
                           <ul>
                               <li>aaaaa</li>
                               <li>aaaaa</li>
                               <li>aaaaa</li>
                               <li>aaaaa</li>
                           </ul>
                        </div>
                    </div>
                </div>
           </div>
         </div>
       </div>
     </form>
</div>
</div>
</div>
<input id="base_url" type="hidden" value="<%- base_url -%>" />
